{% # import schema from '../schema/blocks/test' %}

<div>
  {% content_for 'blocks' %}
</div>
{% schema %}
{
  "name": "Test-block",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "settings": [
    {
      "type": "select",
      "label": "Breakpoint",
      "id": "breakpoint-selector",
      "options": [
        {
          "label": "Desktop",
          "value": "desktop"
        },
        {
          "label": "Tablet",
          "value": "tablet"
        },
        {
          "label": "Mobile",
          "value": "mobile"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "select",
      "label": "Container Layout",
      "id": "container_layout",
      "options": [
        {
          "label": "Flexbox",
          "value": "flex"
        },
        {
          "label": "Grid",
          "value": "grid"
        }
      ]
    },
    {
      "type": "header",
      "content": "Background",
      "visible_if": "{{ .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Background Type",
      "id": "desktopbackground_type",
      "options": [
        {
          "label": "Off",
          "value": "off"
        },
        {
          "label": "Classic",
          "value": "classic"
        },
        {
          "label": "Gradient",
          "value": "gradient"
        }
      ],
      "visible_if": "{{ .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "desktopbackground_color",
      "default": "transparent",
      "visible_if": "{{ .settings.desktopbackground_type == 'classic' and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "checkbox",
      "label": "Background Image",
      "id": "desktopbackground_image_enabled",
      "default": false,
      "visible_if": "{{ .settings.desktopbackground_type == 'classic' and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "desktopbackground_image",
      "visible_if": "{{ .settings.desktopbackground_image_enabled == true and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Position",
      "id": "desktopbackground_position",
      "options": [
        {
          "label": "Center Center",
          "value": "center center"
        },
        {
          "label": "Center Left",
          "value": "center left"
        },
        {
          "label": "Center Right",
          "value": "center right"
        },
        {
          "label": "Top Center",
          "value": "top center"
        },
        {
          "label": "Top Left",
          "value": "top left"
        },
        {
          "label": "Top Right",
          "value": "top right"
        },
        {
          "label": "Bottom Center",
          "value": "bottom center"
        },
        {
          "label": "Bottom Left",
          "value": "bottom left"
        },
        {
          "label": "Bottom Right",
          "value": "bottom right"
        }
      ],
      "default": "center center",
      "visible_if": "{{ .settings.desktopbackground_image_enabled == true and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Attachement",
      "id": "desktopbackground_attachment",
      "options": [
        {
          "label": "Scroll",
          "value": "scroll"
        },
        {
          "label": "Fixed",
          "value": "fixed"
        }
      ],
      "default": "scroll",
      "visible_if": "{{ .settings.desktopbackground_image_enabled == true and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Repeat",
      "id": "desktopbackground_repeat",
      "options": [
        {
          "label": "No Repeat",
          "value": "no-repeat"
        },
        {
          "label": "Repeat",
          "value": "repeat"
        },
        {
          "label": "Repeat X",
          "value": "repeat-x"
        },
        {
          "label": "Repeat Y",
          "value": "repeat-y"
        }
      ],
      "default": "no-repeat",
      "visible_if": "{{ .settings.desktopbackground_image_enabled == true and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Display Size",
      "id": "desktopbackground_size",
      "options": [
        {
          "label": "Auto",
          "value": "auto"
        },
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Contain",
          "value": "contain"
        }
      ],
      "default": "cover",
      "visible_if": "{{ .settings.desktopbackground_image_enabled == true and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "color",
      "label": "First Color",
      "id": "desktopgradient_first_color",
      "default": "#000000",
      "visible_if": "{{ .settings.desktopbackground_type == 'gradient' and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "range",
      "label": "Location",
      "id": "desktopfirst_gradient_location",
      "min": 0,
      "max": 100,
      "unit": "%",
      "default": 0,
      "visible_if": "{{ .settings.desktopbackground_type == 'gradient' and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "color",
      "label": "Second Color",
      "id": "desktopgradient_second_color",
      "default": "#ffffff",
      "visible_if": "{{ .settings.desktopbackground_type == 'gradient' and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "range",
      "label": "Location",
      "id": "desktopsecond_gradient_location",
      "min": 0,
      "max": 100,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ .settings.desktopbackground_type == 'gradient' and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Gradient Type",
      "id": "desktopgradient_type",
      "options": [
        {
          "label": "Linear",
          "value": "linear"
        },
        {
          "label": "Radial",
          "value": "radial"
        }
      ],
      "default": "linear",
      "visible_if": "{{ .settings.desktopbackground_type == 'gradient' and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "number",
      "label": "Angle (degrees)",
      "id": "desktopgradient_angle",
      "default": 90,
      "visible_if": "{{ .settings.desktopbackground_type == 'gradient' and .settings.desktopgradient_type == 'linear' and .settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Test 1 Layout",
      "id": "container_layout",
      "options": [
        {
          "label": "Flexbox",
          "value": "flex"
        },
        {
          "label": "Grid",
          "value": "grid"
        }
      ]
    },
    {
      "type": "select",
      "label": "Container Layout",
      "id": "tablet_container_layout",
      "options": [
        {
          "label": "Off",
          "value": "off"
        },
        {
          "label": "Flexbox",
          "value": "flex"
        },
        {
          "label": "Grid",
          "value": "grid"
        }
      ]
    },
    {
      "type": "header",
      "content": "Background",
      "visible_if": "{{ tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Background Type",
      "id": "tabletbackground_type",
      "options": [
        {
          "label": "Off",
          "value": "off"
        },
        {
          "label": "Classic",
          "value": "classic"
        },
        {
          "label": "Gradient",
          "value": "gradient"
        }
      ],
      "visible_if": "{{ tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "tabletbackground_color",
      "default": "transparent",
      "visible_if": "{{ tablet_.settings.tabletbackground_type == 'classic' and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "checkbox",
      "label": "Background Image",
      "id": "tabletbackground_image_enabled",
      "default": false,
      "visible_if": "{{ tablet_.settings.tabletbackground_type == 'classic' and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "tabletbackground_image",
      "visible_if": "{{ tablet_.settings.tabletbackground_image_enabled == true and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Position",
      "id": "tabletbackground_position",
      "options": [
        {
          "label": "Center Center",
          "value": "center center"
        },
        {
          "label": "Center Left",
          "value": "center left"
        },
        {
          "label": "Center Right",
          "value": "center right"
        },
        {
          "label": "Top Center",
          "value": "top center"
        },
        {
          "label": "Top Left",
          "value": "top left"
        },
        {
          "label": "Top Right",
          "value": "top right"
        },
        {
          "label": "Bottom Center",
          "value": "bottom center"
        },
        {
          "label": "Bottom Left",
          "value": "bottom left"
        },
        {
          "label": "Bottom Right",
          "value": "bottom right"
        }
      ],
      "default": "center center",
      "visible_if": "{{ tablet_.settings.tabletbackground_image_enabled == true and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Attachement",
      "id": "tabletbackground_attachment",
      "options": [
        {
          "label": "Scroll",
          "value": "scroll"
        },
        {
          "label": "Fixed",
          "value": "fixed"
        }
      ],
      "default": "scroll",
      "visible_if": "{{ tablet_.settings.tabletbackground_image_enabled == true and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Repeat",
      "id": "tabletbackground_repeat",
      "options": [
        {
          "label": "No Repeat",
          "value": "no-repeat"
        },
        {
          "label": "Repeat",
          "value": "repeat"
        },
        {
          "label": "Repeat X",
          "value": "repeat-x"
        },
        {
          "label": "Repeat Y",
          "value": "repeat-y"
        }
      ],
      "default": "no-repeat",
      "visible_if": "{{ tablet_.settings.tabletbackground_image_enabled == true and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Display Size",
      "id": "tabletbackground_size",
      "options": [
        {
          "label": "Auto",
          "value": "auto"
        },
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Contain",
          "value": "contain"
        }
      ],
      "default": "cover",
      "visible_if": "{{ tablet_.settings.tabletbackground_image_enabled == true and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "color",
      "label": "First Color",
      "id": "tabletgradient_first_color",
      "default": "#000000",
      "visible_if": "{{ tablet_.settings.tabletbackground_type == 'gradient' and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "range",
      "label": "Location",
      "id": "tabletfirst_gradient_location",
      "min": 0,
      "max": 100,
      "unit": "%",
      "default": 0,
      "visible_if": "{{ tablet_.settings.tabletbackground_type == 'gradient' and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "color",
      "label": "Second Color",
      "id": "tabletgradient_second_color",
      "default": "#ffffff",
      "visible_if": "{{ tablet_.settings.tabletbackground_type == 'gradient' and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "range",
      "label": "Location",
      "id": "tabletsecond_gradient_location",
      "min": 0,
      "max": 100,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ tablet_.settings.tabletbackground_type == 'gradient' and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Gradient Type",
      "id": "tabletgradient_type",
      "options": [
        {
          "label": "Linear",
          "value": "linear"
        },
        {
          "label": "Radial",
          "value": "radial"
        }
      ],
      "default": "linear",
      "visible_if": "{{ tablet_.settings.tabletbackground_type == 'gradient' and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "number",
      "label": "Angle (degrees)",
      "id": "tabletgradient_angle",
      "default": 90,
      "visible_if": "{{ tablet_.settings.tabletbackground_type == 'gradient' and tablet_.settings.tabletgradient_type == 'linear' and tablet_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Test 1 Layout",
      "id": "tablet_container_layout",
      "options": [
        {
          "label": "Flexbox",
          "value": "flex"
        },
        {
          "label": "Grid",
          "value": "grid"
        }
      ]
    },
    {
      "type": "select",
      "label": "Container Layout",
      "id": "mobile_container_layout",
      "options": [
        {
          "label": "Off",
          "value": "off"
        },
        {
          "label": "Flexbox",
          "value": "flex"
        },
        {
          "label": "Grid",
          "value": "grid"
        }
      ]
    },
    {
      "type": "header",
      "content": "Background",
      "visible_if": "{{ mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Background Type",
      "id": "mobilebackground_type",
      "options": [
        {
          "label": "Off",
          "value": "off"
        },
        {
          "label": "Classic",
          "value": "classic"
        },
        {
          "label": "Gradient",
          "value": "gradient"
        }
      ],
      "visible_if": "{{ mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "mobilebackground_color",
      "default": "transparent",
      "visible_if": "{{ mobile_.settings.mobilebackground_type == 'classic' and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "checkbox",
      "label": "Background Image",
      "id": "mobilebackground_image_enabled",
      "default": false,
      "visible_if": "{{ mobile_.settings.mobilebackground_type == 'classic' and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "mobilebackground_image",
      "visible_if": "{{ mobile_.settings.mobilebackground_image_enabled == true and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Position",
      "id": "mobilebackground_position",
      "options": [
        {
          "label": "Center Center",
          "value": "center center"
        },
        {
          "label": "Center Left",
          "value": "center left"
        },
        {
          "label": "Center Right",
          "value": "center right"
        },
        {
          "label": "Top Center",
          "value": "top center"
        },
        {
          "label": "Top Left",
          "value": "top left"
        },
        {
          "label": "Top Right",
          "value": "top right"
        },
        {
          "label": "Bottom Center",
          "value": "bottom center"
        },
        {
          "label": "Bottom Left",
          "value": "bottom left"
        },
        {
          "label": "Bottom Right",
          "value": "bottom right"
        }
      ],
      "default": "center center",
      "visible_if": "{{ mobile_.settings.mobilebackground_image_enabled == true and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Attachement",
      "id": "mobilebackground_attachment",
      "options": [
        {
          "label": "Scroll",
          "value": "scroll"
        },
        {
          "label": "Fixed",
          "value": "fixed"
        }
      ],
      "default": "scroll",
      "visible_if": "{{ mobile_.settings.mobilebackground_image_enabled == true and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Repeat",
      "id": "mobilebackground_repeat",
      "options": [
        {
          "label": "No Repeat",
          "value": "no-repeat"
        },
        {
          "label": "Repeat",
          "value": "repeat"
        },
        {
          "label": "Repeat X",
          "value": "repeat-x"
        },
        {
          "label": "Repeat Y",
          "value": "repeat-y"
        }
      ],
      "default": "no-repeat",
      "visible_if": "{{ mobile_.settings.mobilebackground_image_enabled == true and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Display Size",
      "id": "mobilebackground_size",
      "options": [
        {
          "label": "Auto",
          "value": "auto"
        },
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Contain",
          "value": "contain"
        }
      ],
      "default": "cover",
      "visible_if": "{{ mobile_.settings.mobilebackground_image_enabled == true and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "color",
      "label": "First Color",
      "id": "mobilegradient_first_color",
      "default": "#000000",
      "visible_if": "{{ mobile_.settings.mobilebackground_type == 'gradient' and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "range",
      "label": "Location",
      "id": "mobilefirst_gradient_location",
      "min": 0,
      "max": 100,
      "unit": "%",
      "default": 0,
      "visible_if": "{{ mobile_.settings.mobilebackground_type == 'gradient' and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "color",
      "label": "Second Color",
      "id": "mobilegradient_second_color",
      "default": "#ffffff",
      "visible_if": "{{ mobile_.settings.mobilebackground_type == 'gradient' and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "range",
      "label": "Location",
      "id": "mobilesecond_gradient_location",
      "min": 0,
      "max": 100,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ mobile_.settings.mobilebackground_type == 'gradient' and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Gradient Type",
      "id": "mobilegradient_type",
      "options": [
        {
          "label": "Linear",
          "value": "linear"
        },
        {
          "label": "Radial",
          "value": "radial"
        }
      ],
      "default": "linear",
      "visible_if": "{{ mobile_.settings.mobilebackground_type == 'gradient' and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "number",
      "label": "Angle (degrees)",
      "id": "mobilegradient_angle",
      "default": 90,
      "visible_if": "{{ mobile_.settings.mobilebackground_type == 'gradient' and mobile_.settings.mobilegradient_type == 'linear' and mobile_.settings.breakpoint-selector == 'undefined' }}"
    },
    {
      "type": "select",
      "label": "Test 1 Layout",
      "id": "mobile_container_layout",
      "options": [
        {
          "label": "Flexbox",
          "value": "flex"
        },
        {
          "label": "Grid",
          "value": "grid"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Test-block",
      "category": "layout"
    }
  ]
}
{% endschema %}